DATABASE_URL=
RESEND_API_KEY=
NEWSLETTER_FROM="Ractysh Newsletter <newsletter@ractysh.com>"
NEWSLETTER_PUBLIC_BASE_URL=
NEWSLETTER_DELIVERY_MODE=
NEWSLETTER_TEST_RECIPIENT=
OTC_ADMIN_EMAIL=kalandars2004@gmail.com
OTC_RESEND_FROM_EMAIL="Ractysh OTC <onboarding@resend.dev>"
ADMIN_APP_URL=
